# Byte‑compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
.env/     # if you named your file `.env/` with trailing slash
.env      # the common env file

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Logs
*.log

# Streamlit cache, lock
.streamlit/
.lock

# Pytest
.cache/

# Jupyter
.ipynb_checkpoints/

.env
*.env